$blue: #2f5575;
.hello {
  background-color: $blue;
  height: 100px;
  font-size: 4em;
}
.banner {
  width: 100%;
}

.navbar-add {
  border-radius: 0px;
}

.border-info {
  border: 8px solid red;
  padding: 25px;
}

.error {
  color: #ff0033;
}

.formPicture {
  height: 200px;
  max-width: 300px;
}

.games-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-container {
  width: 30%;
  padding: 1.5%
}

.picture {
  text-align: center;
}

.panel-game {
    border-color: #DE5A3F;
}
.panel-game > .panel-heading {
    background: #DE5A3F;
    color: #ffffff;
    border-color: #DE5A3F;
}

textarea {
  resize: none;
  overflow: auto;
}
