$blue: #2f5575;
.hello {
  background-color: $blue;
  height: 100px;
  font-size: 4em;
}
.banner {
  width: 100%;
}

.navbar-add {
  border-radius: 0px;
}

.border-info {
  border: 8px solid red;
  padding: 25px;
}

.buttonHelper {
  position: relative;
}

.deleteButton {
  position: absolute;
  right: 20px;
}

.editButton {
  position: absolute;
  right: 100px;
}

.error {
  color: #ff0033;
}

.formPicture {
  height: 200px;
  max-width: 300px;
}

.games-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-container {
  width: 30%;
  padding: 1.5%;
}

.gameImage {
  border: 0.125em solid #696969;
  border-radius: 0.125em;
  height: 10em;
  max-width: 15em;
}

hr.noStyle {
  padding: 5px 0;
  margin: 5px 0;
  color: black;
  border-top: .5px solid black;
}

hr.style {
  padding: 5px 0;
  margin: 5px 0;
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

.picture {
  text-align: center;
}

.panel-game {
    border-color: #DE5A3F;
    padding-bottom: 2em;
}
.panel-game > .panel-heading {
    background: #DE5A3F;
    color: #ffffff;
    border-color: #DE5A3F;
}

.centered {
  flex-grow: 1;
}

.centeredTitle {
  text-align: center;
}

textarea {
  resize: none;
  overflow: auto;
}
