$blue: #2f5575;
.hello {
  background-color: $blue;
  height: 100px;
  font-size: 4em;
}
.banner {
  width: 100%;
}

.navbar-add {
  border-radius: 0px;
}

.border-info {
  border: 8px solid red;
  border-style: dotted;
  padding: 40px;
}
